@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/scss/theme.scss';


body {
  margin: 0px 60px 0 60px;
}

section {
  margin: 10px 0 0 0;
}

.color-primary {
  background-color: var(--bit-color-primary);
}

  
